@model SelectTeamViewModel;
@{
    ViewData["Title"] = "Select your team!";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<div class="text-center mb-3">
    <h4 class="mb-2">Your current budget is @Model.BudgetLeft$</h4>
    <h5 class="mb-2">Once you choose a team, your draft will be locked for the rest of the season!</h5>
    <h5 class="mb-2">But if you want to switch to another driver you can always reset!</h5>
    <form method="post" asp-action="Reset">
        <div class="form-group mt-2 text-center">
            <input type="submit" value="Reset" class="btn btn-outline-info" />
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Id"></label>
                <select asp-for="Id" class="form-control">
                    @foreach (var nameAndPrice in Model.NamesAndPrices)
                    {
                        <option value="@nameAndPrice.Id">@nameAndPrice.Name</option>
                    }
                </select>
                <span asp-validation-for="Id" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
