@model EditDriverStatisticsViewModel
@{
    ViewData["Title"] = "Add Driver Results";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group mb-2">
                <label asp-for="RacePosition"></label>
                <input asp-for="RacePosition" class="form-control" placeholder="Race Position...">
                <span asp-validation-for="RacePosition" class="small text-danger"></span>
            </div>
            <div class="form-check mb-2">
                <label asp-for="WasDriverOnPolePosition"></label>
                <input asp-for="WasDriverOnPolePosition" class="form-check-input">
                <span asp-validation-for="WasDriverOnPolePosition" class="form-check-label"></span>
            </div>
            <div class="form-check mb-2">
                <label asp-for="DriverHaveFastestLap"></label>
                <input asp-for="DriverHaveFastestLap" class="form-check-input">
                <span asp-validation-for="DriverHaveFastestLap" class="form-check-label"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}