@model AddOldDriverViewModel;
@{
    ViewData["Title"] = "Add driver who has already raced in F1";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center">
    <a class="btn btn-warning" asp-area="" asp-controller="Driver" asp-action="AddNew">Add new driver!</a>
</div>

<partial name="_OldDriverFormPartial" model="@Model">

    @section Scripts
        {
        <partial name="_ValidationScriptsPartial" />
    }
