@model AddNewDriverViewModel;
@{
    ViewData["Title"] = "Add driver who has never raced in F1";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center">
    <a class="btn btn-warning" asp-controller="Driver" asp-action="AddOld">Add former driver!</a>
</div>

<partial name="_DriverFormPartial" model="@Model">

    @section Scripts
        {
        <partial name="_ValidationScriptsPartial" />
    }
