@model IEnumerable<AllDriverViewModel>
@{
    ViewBag.Title = "All Drivers";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!Model.Any())
{
    <h2 class="text-center">There are no drivers yet!</h2>
}
<div class="row">
    @foreach (var driver in Model)
    {
        <partial name="_DriverPartial" model="@driver" />
    }
</div>